<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout.html}">
<head>
	<meta charset="UTF-8" />
	<title>회원가입</title>
	
	<style>
		#signup__wrap {
			text-align: center;
			padding: 50px 0 0 0;
		}	
		
	</style>
</head>
<body>
	
	<main layout:fragment="content">
		<div id="signup__wrap">
			<h1>회원가입을 위해<br>정보를 입력해 주세요</h1>	
				
			<form action="" method="POST">
				이름: <input type="text" name="korName">
				주빈등록번호: <input type="text"
				
			</form>
			
		</div>
	</main>
	
</body>
</html>