<div th:fragment="menuMall">
	<div class="header__menu_with_submenu">
		<div class="header__menu"> 보험상품/대출 </div>
        <div class="submenu hidden">
            <div class="submenu_spacer"></div>
            <div class="submenu_container">
			
                <div class="submenu_col">
					<img th:src="@{/common/images/gnb_banner1.png}">
					<img th:src="@{/common/images/gnb_banner2.png}">
				</div>
				
				<div class="submenu_col">
					<div class="submenu_col_frag">
						<div class="submenu_col_title">자동차</div>
                        <div class="submenu_col_menu"><a th:href="@{/mall/car/1}">자동차보험(인터넷가입)</a></div>
						<div class="submenu_col_menu"><a th:href="@{/mall/car/2}">자동차보험(전화가입)</a></div>
						<div class="submenu_col_menu"><a th:href="@{/mall/car/2}">영업용자동차보험(인터넷가입)</a></div>
						<div class="submenu_col_menu"><a th:href="@{/mall/car/2}">영업용자동차보험(전화가입)</a></div>
					</div>
					<div class="submenu_col_frag">
						<div class="submenu_col_title">자동차보험 할인특약 안내</div>
						<div class="submenu_col_menu"><a th:href="@{/mall/car_discount/1}">- 마일리지</a></div>
						<div class="submenu_col_menu"><a th:href="@{/mall/car_discount/2}">- 마일리지환급금 바로사용 서비스</a></div>
						<div class="submenu_col_menu"><a th:href="@{/mall/car_discount/3}">- 애니핏 착한걷기</a></div>
						<div class="submenu_col_menu"><a th:href="@{/mall/car_discount/4}">- Eco 모빌리티 이용</a></div>
					</div>
                </div>
				
                <div class="submenu_col">
                    <div class="submenu_col_frag">
                        <div class="submenu_col_title">운전자</div>
						<div class="submenu_col_menu"><a th:href="@{/mall/driver/1}">운전자보험</a></div>
						<div class="submenu_col_menu"><a th:href="@{/mall/driver/2}">오토바이 전용 운전자보험</a></div>
                    </div>
					<div class="submenu_col_frag">
                        <div class="submenu_col_title">건강</div>
						<div class="submenu_col_menu"><a th:href="@{/mall/health/1}">실손의료비보험</a></div>
						<div class="submenu_col_menu"><a th:href="@{/mall/health/2}">암보험</a></div>
						<div class="submenu_col_menu"><a th:href="@{/mall/health/3}">치아보험</a></div>
                    </div>
					<div class="submenu_col_frag">
						<div class="submenu_col_title">유병자</div>
						<div class="submenu_col_menu"><a th:href="@{/mall/sick/1}">유병자 실손의료비보험</a></div>
						<div class="submenu_col_menu"><a th:href="@{/mall/sick/2}">Smart 유병자 간편보험</a></div>
					</div>
                </div>
				
                <div class="submenu_col">
					
				</div>
                <div class="submenu_col">
					
				</div>
				<div class="submenu_col"></div>
            </div>
            <div class="submenu_spacer"></div>
        </div>
    </div>
</div>