<div th:fragment="menuMall">
	<div class="header__menu_with_submenu">
		<div class="header__menu"> 보험상품/대출 </div>
        <div class="submenu hidden">
            <div class="submenu_spacer"></div>
            <div class="submenu_container">
			
                <div class="submenu_col">
					<img th:src="@{/common/images/gnb_banner1.png}">
					<img th:src="@{/common/images/gnb_banner2.png}">
				</div>
				
				<div class="submenu_col">
								
				</div>
			
				
                <div class="submenu_col">
					<div class="submenu_col_frag">
						<div class="submenu_col_title">상품가입 (자동차보험)</div>
						<div class="submenu_col_menu"><a th:href="@{/mall2/init}">상품/특약선택</a></div>
						<div class="submenu_col_menu"><a th:href="@{/mall2/info}">간단정보 입력</a></div>
						<div class="submenu_col_menu"><a th:href="@{/mall2/detail}">피보험자 상세정보</a></div>
						<div class="submenu_col_menu"><a th:href="@{/mall2/notice}">계약사항안내</a></div>
						<div class="submenu_col_menu"><a th:href="@{/mall2/payment}">결제정보 입력</a></div>
					</div>
				</div>
                <div class="submenu_col">
					
				</div>
				<div class="submenu_col"></div>
            </div>
            <div class="submenu_spacer"></div>
        </div>
    </div>
</div>