<div th:fragment="headerFragment">
	<div id="header_bar_wrap">
	    <div>
	        <div class="header__spacer-top"></div>
	        <div class="header__spacer-nav"></div>
	    </div>

	    <div id="header_container">
	        <div class="header_top">
				<a href="admin/main">관리자</a>

	            <button id="header__loginBtn">로그인</button>
	            <button id="header__sessionTimer" class="hidden">V 30:00 로그인연장</button>
	            <button id="header__logoutBtn" class="hidden">로그아웃</button>
	        </div>

	        <div class="header_nav">
	            <div>
					<button class="header__homeBtn"><img src="/kdInsuranceTeam/common/images/logo_chac.png" width="240" height="50"></button>
				</div>
	            
				<div class="header__menu_container">
					<div th:replace="~{/common/fragments/header_menu_mypage :: menuMypage}"></div>
					<div th:replace="~{/common/fragments/header_menu_claim :: menuClaim}"></div>
					<div th:replace="~{/common/fragments/header_menu_mall :: menuMall}"></div>
					<div th:replace="~{/common/fragments/header_menu_club :: menuClub}"></div>
					<div th:replace="~{/common/fragments/header_menu_helpdesk :: menuHelpdesk}"></div>
	            </div>

	            <div class="header_icons">
	                <div id="header_shopping_cart">
	                    <i class="fa-solid fa-cart-shopping"></i>
	                </div>
	                <div id="header_search">
	                    <i class="fa-solid fa-magnifying-glass"></i>
	                </div>
	            </div>
	        </div>
	    </div>
		
	    <div>
	        <div class="header__spacer-top"></div>
	        <div class="header__spacer-nav"></div>
	    </div>
	</div>
</div>
