<div th:fragment="menuClaim">
	<div class="header__menu_with_submenu">
		<div class="header__menu"> 보상청구 </div>
		<div class="submenu hidden">
			<div class="submenu_spacer"></div>
			<div class="submenu_container">


				<div class="submenu_col">
					<img th:src="@{/common/images/gnb_banner1.png}">
					<img th:src="@{/common/images/gnb_banner2.png}">
				</div>

				<div class="submenu_col">
									</div>
				
				<div class="submenu_col">
					<div class="submenu_col_frag">
						<div class="submenu_col_title">보험금 청구</div>
						<div class="submenu_col_menu"><a th:href="@{/claim/claimpage1}">보험금청구</a></div>
					</div>
					<div class="submenu_col_frag">
						<div class="submenu_col_title">보험금 청구내역</div>
						<div class="submenu_col_menu"><a th:href="@{/claim/claimList}">청구내역 확인</a></div>
					</div>
				</div>
				
			</div>
			<div class="submenu_spacer"></div>
		</div>
	</div>
</div>