<div th:fragment="menuMypage">
	<div class="header__menu_with_submenu">
		<div class="header__menu"> 계약관리 </div>
        <div class="submenu hidden">
            <div class="submenu_spacer"></div>
            <div class="submenu_container">
				
                <div class="submenu_col"></div>
				
                <div class="submenu_col">
					<div class="submenu_col_frag">
						<div class="submenu_col_title">보험계약 확인</div>
                        <a th:href="@{/mypage/MPDG0070}">계약내용 확인</a>
					</div>
					<div class="submenu_col_frag">
						<div class="submenu_col_title">보험료 납입</div>
						<a th:href="@{/mypage/MPDG0080}">장기보험 보험료납입</a>
					</div>
                </div>
				
                <div class="submenu_col">
                    <div class="submenu_col_frag">
                        <div class="submenu_col_title">증명서 발행</div>
                    </div>
                </div>
				
                <div class="submenu_col"></div>
				
                <div class="submenu_col"></div>
            </div>
            <div class="submenu_spacer"></div>
        </div>
    </div>
</div>