<div th:fragment="menuMall">
	<div class="header__menu_with_submenu">
		<div class="header__menu"> 보험상품/대출 </div>
        <div class="submenu hidden">
            <div class="submenu_spacer"></div>
            <div class="submenu_container">
				
                <div class="submenu_col"></div>
				<div class="submenu_col"></div>
				
				
				<div class="submenu_col">
					<div class="submenu_col_frag">
						<div class="submenu_col_title">임시</div>
				        <div class="submenu_col_menu">
							<a th:href="@{/mall/info}">1</a></div>
				        <div class="submenu_col_menu">
							<a th:href="@{/mall/detail}">2</a></div>
						<div class="submenu_col_menu">
							<a th:href="@{/mall/notice}">3</a></div>
						<div class="submenu_col_menu">
							<a th:href="@{/mall/payment}">4</a></div>							
					</div>
				</div>
				
				<div class="submenu_col"></div>
            </div>
            <div class="submenu_spacer"></div>
        </div>
    </div>
</div>