<!-- sidebar.html -->
<div th:fragment="sidebarFragment">
	<section id="sideBar-menu">
	    <div id="sidebar" class="sidebar closed">
	        <button id="toggleBtn" class="toggle-btn">
	            <img th:src="@{/common/images/btn_side_off.png}"></img>
	        </button>
	            <div id="side_guide">
	                <div>GUIDE</div>
	            </div>
	        <ul>
	            <li>
	                <a href="">
	                <div id="side_menu1" class="side_menu"> 
	                    연말정산<br>납입증명서</div>
	                </a>
	            </li>
	            <li>
	                <a href="">
	                <div id="side_menu2" class="side_menu">가입후기</div>
	                </a>
	            </li>
	            <li>
	                <a href="">
	                <div id="side_menu3" class="side_menu">자주하는 질문</div>
	                </a>
	            </li>
	            <li>
	                <a th:href="@{/club/PP050301_001}" class="side_link">
	                <div id="side_menu4" class="side_menu">무이자 할부</div>
	                </a>
	            </li>
	            <li>
	                <a href="">
	                <div id="side_menu5" class="side_menu">보안프로그램 <br> 설치</div>
	                </a>
	            </li>
	        </ul>
	    </div>
	</section>
</div>
