<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout.html}">
<head>
	<meta charset="UTF-8" />
	<title>보안프로그램 설치</title>
	<link rel="stylesheet" th:href="@{/helpdesk/css/PP060301_002.css}" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:src="@{/helpdesk/js/PP060301_002.js}"></script>
</head>
<body>
<main layout:fragment="content">
	
	<div class="container">
		<div class="breadcrumb">홈 > 이용안내 > 홈페이지 이용/장애해결 > 보안프로그램 설치</div>
		<h1>안전한 서비스 이용을 위해<br>보안프로그램 설치를 안내해 드립니다</h1>
		<div class="tab-menu">
			<button class="tab-btn active" data-tab="tab1">통합 설치</button>
			<button class="tab-btn" data-tab="tab2">개별 설치</button>
		</div>
		
		<div class="tab-content" id="tab1">		
			<div class="tab-card">
				<div class="card-body">
					<div class="tab-text">
						<h2>보안프로그램 통합 설치 (공동인증/키보드보안/개인PC방화벽)</h2>
						<ul>
							<li>공동인증서 및 시설인증을 사용하여 본인인증 및 전자서명을 하며, 키보드로 입력되는 정보를 보호하고 해킹 툴을 검사하는 프로그램</li>
							<li>프로그램명 : AnySign4PC, NOS(nProtect Online Security)</li>
						</ul>						
					</div>
					<div class="tab-image tab1-image"></div>			
				</div>
				<div class="button-wrapper">
					<a href=""><span>통합 설치 완료</span></a>
				</div>							
			</div>				
		</div>
			
		<div class="tab-content" id="tab2" style="display:none">
			<div class="tab-card">
				<div class="card-body">
					<div class="tab-text">
						<h2>공동인증 프로그램</h2>
						<ul>
							<li>프로그램명 : AnySign4PC</li>
							<li>공동인증서 및 사설인증을 사용하여 본인인증 및 전자서명을 하는 프로그램</li>
						</ul>
					</div>
					<div class="tab-image tab2-image1"></div>
				</div>
				<div class="button-wrapper">
					<a href=""><span>설치완료</span></a>
				</div>
			</div>				
	
			<div class="tab-card">
				<div class="card-body">
					<div class="tab-text">
						<h2>키보드보안/개인/개인PC방화벽</h2>
						<ul>
							<li>프로그램명 : nProtect Online Security</li>
							<li>키보드로 입력되는 정보를 보호하고, 해킹 툴을 검사하기 위한 프로그램</li>
						</ul>
					</div>
					<div class="tab-image tab2-image2"></div>
				</div>
				<div class="button-wrapper">
					<a href=""><span>설치완료</span></a>
				</div>
			</div>
				
		</div>
		
		<h2>고객님의 현재 PC정보</h2>
		<table class="pc-info-table">
			<thead>
				<tr>
					<th>운영 시스템(OS)</th>
					<th>브라우저 정보</th>
				</tr>				
			</thead>
			<tbody>
				<tr>
					<td id="os-info"></td>
					<td id="browser-info"></td>
				</tr>
			</tbody>
		</table>
			
		<div class="common-notice">
			<h3><img th:src="@{/helpdesk/images/icon_noti.png}">확인해주세요</h3>
			<ul>
				<li>프로그램 설치에 약 1~3분 정도 소요되며, 설치 완료 후에는 화면 새로고침(F5)을 하거나 브라우저를 다시 실행하여 접속해 주세요</li>
				<li>프로그램 설치 후에도 홈페이지 사용에 문제가 있는 경우, 브라우저를 모두 종료 후 [제어판] > [프로그램 추가/제거] 에서 [AnySign4PC], [nProtect Online Security]를 삭제하여 설치해 주세요.</li>
				<li>키보드보안 프로그램이 설치되어 있지 않은 경우, 마우스를 사용하여 보안키패드로 서비스 이용이 가능합니다.</li>
				<li>공동인증 프로그램이 설치되어 있지 않은 경우, 휴대폰인증으로 보험료 계산/가입이 가능합니다.</li>
			</ul>		
		</div>		
		
	</div>
</main>	
	
	
</body>
</html>