<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layout.html}">

<head>
	<title>오토바이 전용 운전자보험</title>
	<link rel="stylesheet" th:href="@{/mall/css/commonPage.css}" />
	<link rel="stylesheet" th:href="@{/mall/css/table.css}" />
	<link rel="stylesheet" th:href="@{/mall/css/custom-button.css}" />
	<script th:src="@{/mall/js/jquery-3.7.1.min.js}"></script>
</head>

<body>
	<main layout:fragment="content" style="width: 100%; margin: 137px auto 0;">
		<div class="header-cover main-section">
			<!-- 상단 타이틀 -->
			<div class="breadcrumb container">
				홈 > 보험상품/대출 > 운전자 > <strong>오토바이 전용 운전자보험</strong>
			</div>
			<div class="top-section container">
				<div class="text-section">
					<div class="title">
						오토바이 전용 운전자보험
					</div>
					<div class="desc">
						<div class="desc-text">자동차보험만으로 충분하지 않은 오토바이 운전자를 위한 보장</div>
						<div class="desc-text">삼성화재 자동차보험 고객 매월 5% 할인</div>
					</div>
					<a class="btn" href="@{/mall/ria/3">보험료 계산</a>
				</div>
			</div>
		</div>

		<div class="container main-section">
			<div class="section">
				<div class="content">
					<h2>오토바이 운전자를 위한 보장으로 더욱 안심</h2>
					<ul class="check-ul">
						<li>이륜자동차 운전 중 사고가 발생한 운전자를 위한 다양한 치료 보장</li>
						<li>이륜자동차 운전중 자동차사고 부상치료지원금, 교통상해 입원일당(1일이상), 자동차사고부상 수술비로 든든하게!</li>
						<li>해당 특약 가입 시</li>
					</ul>

				</div>

				<!-- 꼭 확인 컴포넌트 -->
				<div class="section-flex-row notice">
					<dl class="info-list">
						<dt>꼭 확인하세요</dt>
						<dd>
							<ul class="list-round">
								<li>이륜자동차 운전중 자동차사고 부상치료지원금은 자동차사고 부상 등급표에서 정한 상해등급을 받은 경우 등급에 따라 차등하여 지급합니다.</li>
								<li>이륜자동차 운전중 교통상해 입원일당(1일이상)은 1회 180일 한도로 보장합니다.</li>
							</ul>
							<p class="note">단, 안내된 할인특약은 '긴급출동서비스와 특약 보험료를 제외한 보험료에 적용됩니다</p>
						</dd>
					</dl>
				</div>
			</div>
			
			<div class="section">
				<div class="content">
					<h2>오토바이 운전자를 위한 보장으로 더욱 안심</h2>
					<ul class="check-ul">
						<li>이륜자동차 운전 중 사고가 발생한 운전자를 위한 다양한 치료 보장</li>
						<li>이륜자동차 운전중 자동차사고 부상치료지원금, 교통상해 입원일당(1일이상), 자동차사고부상 수술비로 든든하게!</li>
						<li>해당 특약 가입 시</li>
					</ul>

				</div>
				
				<div class="section-flex-row notice">
					<dl class="info-list">
						<dt>꼭 확인하세요</dt>
						<dd>
							<ul class="list-round">
								<li>이륜자동차 운전중 자동차사고 부상치료지원금은 자동차사고 부상 등급표에서 정한 상해등급을 받은 경우 등급에 따라 차등하여 지급합니다.</li>
								<li>이륜자동차 운전중 교통상해 입원일당(1일이상)은 1회 180일 한도로 보장합니다.</li>
							</ul>
							<p class="note">단, 안내된 할인특약은 '긴급출동서비스와 특약 보험료를 제외한 보험료에 적용됩니다</p>
						</dd>
					</dl>
				</div>
			</div>
			
			<div class="section-plus ">
				<p>준법감시인확인필 제25-1-0182호 (0801,'25.01.15~'26.01.14)</p>
				<div class="btn-wrap">
					<button class="btn-round">가입 시 유의사항</button>
				</div>
			</div>
			<div class="call-box">
				전화가입 상담센터(1600-5008)를 통해 다이렉트 자동차보험에 가입하는 경우에도 동일하게 특약 가입이 가능합니다.
			</div>
		</div>

		<script th:src="@{/mall/js/product.js}"></script>
	</main>
</body>

</html>