<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout.html}">
<head>
	<meta charset="UTF-8" />
	<title>내 정보 확인/변경</title>
	<link rel="stylesheet" th:href="@{/mypage/css/EditMyInfo.css}" />
</head>
<body>
	<main layout:fragment="content">
		<form 	th:action="@{/mypage/edit}" 
				th:data-check-email-url="@{/signup/check-email}" 
				method="POST">
		<div class="main__wrapper">
			<h1>내 정보를<br>변경할 수 있어요</h1>
			
			<div th:if="${loginUser != null && loginUser.person != null && loginUser.customer != null}">
			<h2 class="custom-table-title">기본정보<span class="blue-span">필수</span></h2>
			<table class="custom-table">
				<tr>
					<th>휴대폰 번호</th>
					<td>
						<input type="text" placeholder="-없이 입력" maxlength="11" name="phone_number"
						th:value="${loginUser.person.phone_number}">
					</td>
				</tr>
				<tr>
					<th>이메일</th>
					<td>
						<input id="emailInput" type="text" placeholder="example@ex.com" name="email"
						th:value="${loginUser.person.email}">
						<button type="button" id="email-check-btn">중복 확인</button>
					</td>
				</tr>
			</table>
			<p id="email-message" class="message"></p>
			
			<h2 class="custom-table-title">집정보
				<button type="button" class="clear-btn" data-target="home">비우기</button>
			</h2>
			<table class="custom-table" data-type="home">
				<tr>
					<th>주소</th>
					<td>
						<input class="address-display" type="text" placeholder="도로명, 지번, 건물명으로 검색" readonly
						th:value="${loginUser.customer.zip_code != null} ? '(' + ${loginUser.customer.zip_code} + ') ' + ${loginUser.customer.address_1} : ''" />
						<i class="fa-solid fa-magnifying-glass"></i>
						
						<input type="hidden" name="zip_code" th:value="${loginUser.customer.zip_code}" />
						<input type="hidden" name="address_1" th:value="${loginUser.customer.address_1}" />
					</td>
				</tr>
				<tr>
					<th>상세주소</th>
					<td>
						<input class="address" type="text" placeholder="상세주소 입력란" name="address_2"
						th:value="${loginUser.customer.address_2}">
					</td>
				</tr>
				<tr>
					<th>전화번호</th>
					<td>
						<input type="text" placeholder="-없이 입력" maxlength="11" name="home_number"
						th:value="${loginUser.customer.home_number}">
					</td>
				</tr>
			</table>
			
			<h2 class="custom-table-title">직장정보
				<button type="button" class="clear-btn" data-target="job">비우기</button>
			</h2>
			<table class="custom-table" data-type="job">
				<tr>
					<th>직위</th>
					<td><input type="text" name="job" th:value="${loginUser.customer.job}"></td>
				</tr>
				<tr>
					<th>직장명</th>
					<td><input type="text" name="company_name" th:value="${loginUser.customer.company_name}"></td>
				</tr>
				<tr>
					<th>주소</th>
					<td>
						<input class="address-display" type="text" placeholder="도로명, 지번, 건물명으로 검색" readonly
						th:value="${loginUser.customer.job_zip_code != null} ? '(' + ${loginUser.customer.job_zip_code} + ') ' + ${loginUser.customer.job_address1} : ''" />
						<i class="fa-solid fa-magnifying-glass"></i>
						
						<input type="hidden" name="job_zip_code" th:value="${loginUser.customer.job_zip_code}" />
						<input type="hidden" name="job_address1" th:value="${loginUser.customer.job_address1}" />
					</td>
				</tr>
				<tr>
					<th>상세주소</th>
					<td>
						<input class="address" type="text" placeholder="상세주소 입력란" name="job_address2"
						th:value="${loginUser.customer.job_address2}">
					</td>
				</tr>
				<tr>
					<th>전화번호</th>
					<td>
						<input type="text" placeholder="-없이 입력" maxlength="11" name="job_phone_number"
						th:value="${loginUser.customer.job_phone_number}">
					</td>
				</tr>
			</table>
			<input type="hidden" name="customer_id" th:value="${loginUser.customer.customer_id}"/>
			<input type="hidden" name="person_id" th:value="${loginUser.customer.person_id}" />
			<button type="submit">변경</button>
			</div>
		</div>
		</form>
		
		<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		<script th:src="@{/mypage/js/EditMyInfo.js}"></script>
	</main>
</body>
</html>