<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout.html}">
<head>
	<meta charset="UTF-8" />
	<title>보험료납입</title>
	<link rel="stylesheet" th:href="@{/mypage/css/payPremium.css}" />
</head>
<body>
	<main layout:fragment="content">
		
		<div class="base-main">
			<div class="navi-current">
				<span>홈</span>
				<span>계약관리</span>
				<span>보험료 납입</span>
				<span>장기보험 보험료납입</span>
			</div>
			
			<section class="base-content">
				
				<h1>보험료를 납입할 <br>계약을 선택해 주세요</h1>
				
				<div class="btn_wrap">
					<div id="status_btn_continue" class="btn_clicked">계속보험료</div>
					<div id="status_btn_extra">추가 납입보험료</div>
				</div>
				
				<table class="contract_table">
					<thead>
						<tr>
							<th>상품명</th>
							<th>납입방법</th>
							<th>최종납입월</th>
							<th>보험기간</th>
							<th>보험료</th>
						</tr>
					</thead>
					<tbody>
						<!-- 데이터가 있을 경우 -->
					    <tr th:each="item, stat : ${dataList}" th:if="${dataList != null and !dataList.isEmpty()}">
							<td>
					            <span th:text="${item.productName}">국내여행보험</span>
					            <span class="subtext" th:text="${item.productCode}">82507943288000</span>
					        </td>
					        <td th:text="${item.contractor}">김길동</td>
					        <td th:text="${item.insured}">김길동</td>
					        <td>
					            <span th:text="${item.startDate}">2025.10.03(00시)</span>
					            <span> ~ </span>
					            <span th:text="${item.endDate}">2025.10.05(23시)</span>
					        </td>
					        <td th:text="${item.premium} + ' 원'">3,000 원</td>
					    </tr>
					
					    <!-- 데이터가 없을 경우 -->
					    <tr th:if="${dataList == null or dataList.isEmpty()}">
					        <td class="no-data" colspan="6">확인 가능한 계약이 없습니다.</td>
					    </tr>
					</tbody>
				</table>
					
				<div class="tipBox" id="tipBox_continue">
					<dl>
						<dt><img th:src="@{/mypage/images/text-bubble.png}" alt="말풍선 아이콘">확인해 주세요</dt>
						<dd>· 보험료 납입은 365일 24시간 가능합니다. 단, 은행별 시스템 점검시간(23:30~다음날 01:00)에는 납입할 수 없습니다.</dd>
						<dd>· 오늘 가입하신 보험은 확인되지 않을 수 있습니다. 다음 영업일에 다시 확인해 주세요.</dd>
					</dl>
				</div>
				<div class="tipBox hidden" id="tipBox_extra">
					<dl>
						<dt><img th:src="@{/mypage/images/text-bubble.png}" alt="말풍선 아이콘">확인해 주세요</dt>
						<dd>· 추가 보험료 납입은 07:00 ~ 21:50에 가능합니다.</dd>
						<dd>· 오늘 가입하신 보험은 보이지 않을 수 있습니다. 다음 영업일에 다시 확인해주세요.</dd>
						<dd>· 추가로 납입한 보험료는 환급받을 수 없습니다.</dd>
					</dl>
				</div>
			</section>
		</div>
	
	<script th:src="@{/mypage/js/payPremium.js}"></script>
	
	</main>
</body>
</html>