<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
  <typeAliases>
  	<typeAlias type="com.kd.insuranceweb.test.dto.Employee" alias="emp"></typeAlias>
  	<typeAlias type="com.kd.insuranceweb.club.dto.Card_company" alias="cardCompany"></typeAlias>
  	<typeAlias type="com.kd.insuranceweb.club.dto.Card_benefit" alias="cardBenefit"></typeAlias>
  </typeAliases>
  
  
</configuration>