@charset "UTF-8";
body { margin:0; }
.main-container { margin: 137px auto 0 auto; }
.main-container > div:nth-child(n+2) { width:1200px; margin:0 auto; }
.main-head { background-color: aliceblue; padding:30px; }
.main-head-box { width:1200px; margin: 0 auto; }
.main-nav { text-align: right; }
.main-head-title { display:flex; align-items: center; font-size: 32px; font-weight: bold; }
.main-head-badge { 
	 background: #e5f0ff; color: #1e73e8; padding: 4px 15px;
	 border-radius: 20px; margin-left: 10px; font-size: medium;
 }
.main-head-subtitle { font-size: 18px; margin-top: 10px; }
.main-head-description { color: #666; margin-top: 5px; }
.main-head-button {
	background: #1e73e8; color: white; padding: 10px 150px; border: none; border-radius: 6px;
	margin-right: 10px; cursor: pointer; width: fit-content;
}
.main-tabs { margin-top: 30px; display: flex; gap: 20px; font-weight: bold; font-size:1.2em; color: #1e73e8; }
.main-tabs div { padding: 5px; }
.tab-active { border-bottom: 3px solid; }
.main-section { margin-top: 40px; border-bottom: 1px solid #eee; padding-top: 20px; }
.main-section h2 { font-size: 24px; }
.main-section ul { list-style: none; padding: 0; }
.main-section li::before { content: '✔ '; color: #1e73e8; }
.main-bottom-buttons { margin-top: 40px; text-align: right; }
.main-bottom-buttons button {
  background: #1e73e8; color: white; padding: 10px 20px; border: none; border-radius: 6px;
  margin-right: 10px; cursor: pointer;
}