.content-layout {
	float: none;
	width: 1176px;
	margin: 0 auto 200px;
}

.content-layout.ani-point {
	text-align: left;
}



.content-main {
	margin-left: -50px;
	padding: 0 10%;
}

.ani-point>.content-main {
	padding: 0;
	margin: 0;
}

.content-main .btn-main {
	text-align: center;
	margin: 70px 0;
}


.tit-wrap-m {
	margin: 60px 0 20px;
}


.tit-con {
	font-size: 22px;
	color: #111;
	line-height: 38px;
	letter-spacing: -0.5px;
	font-weight: 700;
	margin-bottom: 0;
}

.tit-wrap-m:after {
	content: "";
	display: block;
}


.progress-box {
	display: grid;
	gap: 25px;
	margin: 30px auto 50px;
	justify-content: center;
	max-width: 1000px;
	/* 원하는 최대 폭 지정 */

}

.progress-box.grid3 {
	padding-right: 70px;
	padding-left: 70px;
}


.card-benefit {
	font-size: 18px;
	width: 1000px;
	height: fit-content;
	position: relative;
	padding: 40px 70px;
	border-radius: 12px;
	border: 1px solid #EAEBED;
	background-color: #fff;
}

.point-list {
	margin: 20px 30px 0 0px;
}

.point-list>li {
	display: flex;
	align-items: flex-start;
	/* li 내용 상단 기준으로 점 위치 */
	gap: 8px;
	/* 점과 텍스트 간격 */
	margin: 8px 10px;
}

.point-list>li {
	line-height: 22px;
	color: #868686;

}


.point-list>li:before {
	content: "";
	display: inline-block;
	width: 3px;
	height: 3px;
	background-color: #868686;
	border-radius: 50%;
	margin-top: 10px;
}


.hide {
	position: absolute;
	width: 0;
	height: 0;
	z-index: -1;
	color: transparent;
	overflow: hidden;
	font-size: xx-small;
	line-height: 0;
}

.img {
	width: 120px;
	height: 120px;
	margin: 0 auto;
}

ul li .desc {
	font-size: 18px;
	color: #111;
	line-height: 28px;
	letter-spacing: -0.5px;
	font-weight: 500;
	display: block;
	margin-top: 20px;
	text-align: center;
}

.img-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	position: relative;
}

.img-list>li {
	position: relative;
	/* ::after 기준점 */
	flex: 1;
	/* li 크기 균등 분배 */
	text-align: center;
}

.img-list>li::after {
	content: "";
	position: absolute;
	top: 50%;
	right: -40px;
	/* li와 li 사이 간격에 맞게 조정 */
	transform: translateY(-50%);
	width: 36px;
	height: 36px;
	background: url(../images/after.svg) no-repeat center;
	background-size: contain;
}

.img-list>li:last-child::after {
	content: none;
}

.way-list>li:nth-child(odd) {
	font-weight: 500;
}

.way-box {
	width: 376px;
	min-height: 346px;
	position: relative;
	text-align: center;
	color: #757679;
	padding: 40px 70px;
	border-radius: 12px;
	border: 1px solid #EAEBED;
	background-color: #fff;
}

.way-boxes {
	display: flex;
	flex-direction: row;
	justify-content: left;
	margin: 30px 20px 50px 0;
	gap: 30px
}

a {
	text-decoration-line: none;
	color: inherit;
}

.way-box>.title {
	text-align: center;
	font-size: 18px;
	color: #111;
	line-height: 30px;
	letter-spacing: -0.5px;
	font-weight: 500;
	display: block;
	margin-bottom: 8px;
	margin-top: 10px;
}

.way-box>.img::before {
	content: "";
	display: inline-block;
	width: 120px;
	height: 120px;
	margin-bottom: 20px;
	background: #fff;
}

.way-list>.sub-tit {
	font-size: 16px;
}

.img.img01 {
	background: url(../images/적립조건\ 충족.svg) no-repeat center 0;
}

.img.img02 {
	background: url(../images/포인트\ 적립.svg) no-repeat center 0;
}

.img.img03 {
	background: url(../images/포인트\ 사용.svg) no-repeat center 0;
}

.way-box>.img04::before {
	background: url(../images/건강증진활동.svg) no-repeat center 0;
}

.way-box>.img05::before {
	background: url(../images/이벤트\ 참여.svg) no-repeat center 0;
}

.way-box>.img06::before {
	background: url(../images/보험료\ 납입.svg) no-repeat center 0;
}

.way-box>.img07::before {
	background: url(../images/애니포인트몰\ 이용.svg) no-repeat center 0;
}

.btn-small-dark.btn-line {
	border-color: #D9DADC;
	cursor: pointer;
}

.btn-main-dark.btn-line,
.btn-normal-dark.btn-line,
.btn-small-dark.btn-line {
	color: #545557;
	border: 1px solid #B8B9BB;
	background: #FFFFFF;
	padding: 6px 24px 5px;
}


[class*=btn-small].btn-round {
	border-radius: 19px;
}

.way-box .btn-wrap {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 50px;
	text-align: center;

}

.btn-wrap.btn-main {
	align-items: center;
}

.right {
	text-align: right;
}

.raw-wrap {
	font-size: 14px;
	line-height: 24px;
	color: #757679;
	font-weight: 400;
}

.btn-main.btn-line {
	display: inline-block;
	color: #2C7FDF;
	border: 1px solid #2C7FDF;
	background: #FFFFFF;
	margin: 0 5px;
	padding: 10px 20px;
	border-radius: 6px;
	font-size: 15px;
	text-align: center;
	line-height: 28px;
	font-weight: 500;
	width: 220px;
}

.btn-small-dark.btn-line.btn-round {
	width: fit-content;
	padding: 6px 20px 5px;
	margin-left: 20px;
}

/* --------------- 애니포인트 적립/사용내역 ------------------- */

.point-box dl dt::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 32px;
	height: 32px;
	background: url(../images/point_p.svg) no-repeat 0 0 / 100% 100%;
	vertical-align: middle;
}

.point-box dl {
	display: flex;
}

.point-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	width: 1175px;
	height: 110px;
	position: relative;
	padding: 30px 40px;
	border-radius: 12px;
	border: 1px solid #EAEBED;
	background-color: #fff;
}

.point-box dl dt {
	position: relative;
	font-size: 16px;
	font-weight: 700;
	padding-left: 42px;
	line-height: normal;
}

.point-box dl dd {
	font-size: 20px;
	color: #2c7fdf;
	font-weight: bold;
	margin-left: 60px;
}

.tbl-wrap.type-search.date-search {
	/* position: relative; */
	padding: 10px 160px;
	border-radius: 12px;
	border: 1px solid #f3f4f6;
	background-color: #f3f4f6;
}

.month-radio {
	opacity: 0;
}

.btn-radio {
	position: relative;
	/* ::before의 기준 */
	display: inline-block;
	width: 145px;
	height: 48px;
	padding: 10px 40px 10px 36px;
	/* 아이콘 자리 항상 확보(≈ 20px + 여백) */
	border-radius: 6px;
	background-color: #fff;
	border: 1px solid #b8b9bb;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

.btn-radio::before {
	content: "";
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	background: url(../images/checked.svg) no-repeat center / contain;
	opacity: 0;
	pointer-events: none;
}

input[type=radio]:checked+label {
	border-color: #2C7FDF;
	background-color: #fff;
	color: #2C7FDF;
}

/* 체크되면 아이콘만 나타나게 */
input[type=radio]:checked+label::before {
	opacity: 1;
}

.form-wrap.date-wrap {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 25px;
	align-content: center;
}



.ui-datepicker.inp-date-wrap .ui-datepicker-btn {
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: none;
	border-radius: 6px;
	border: 1px solid #d9dadc;
}

.form-wrap {
	margin: 20px 0;
	font-size: 0;
}

.inp-date-wrap>.inp-base {
	appearance: none;
	/* 네이티브 스타일 리셋(가능한 범위) */
	width: 300px;
	height: 48px;
	margin-left: 20px;
	box-sizing: border-box;
	padding: 0 40px 0 20px;
	/* 오른쪽 아이콘 자리 확보 */
	border: 1px solid #d9dadc;
	border-radius: 6px;
	font-size: 16px;
	background: #fff;
}

.ui-datepicker.inp-date-wrap+.ui-datepicker.inp-date-wrap::before {
	content: "-";
	display: inline-block;
	margin: 0 -5px 15px -10px;
	/* 필요 시 미세조정 */
	font-size: 16px;
	font-weight: bold;
	line-height: 48px;
	vertical-align: middle;
}




.btn-normal {
	color: #FFFFFF;
	border: 1px solid #2C7FDF;
	background: #2C7FDF;
	min-width: 90px;
	padding: 11px 30px 9px;
	border-radius: 6px;
	font-size: 16px;
	font-weight: 500;
	height: 45px;
	line-height: 20px;
	margin-top: 3px;
	white-space: nowrap;
	cursor: pointer;
}

.tbl-base-ver th {
	white-space: nowrap;
	padding-right: 30px;
}

.tbl-base col {
	width: 580px;
}

.tbl-base tr>* {
	text-align: center;
}

.tbl-base {
	margin-top: 70px;
	border-top: 2px solid #545557;
	/* 위쪽 굵은 선 */
	border-bottom: 1px solid #D9DADC;
	/* 아래쪽 얇은 선 */
	border-collapse: collapse;
	/* 셀 경계선 겹치기 */
	width: 100%;
	table-layout: auto;
	margin-bottom: 60px;
}

.tbl-base tr>th {
	height: 67px;
	padding: 20px;
	font-weight: 600;
	font-size: 16px;
	text-align: center;
	color: #545557;
	border-bottom: 1px solid #EAEBED;
	background-color: #F9FAFB;
}

.tbl-base tr>td {
	height: 87px;
	padding: 30px 20px;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	text-align: center;
	color: #757679;
	background: none;
	border-bottom: 1px solid #EAEBED;
	border-width: 0 0 1px 0;
	letter-spacing: -0.25px;
}

.tbl-base tr>td::before {
	content: "";
	display: block;
	width: 36px;
	height: 36px;
	margin: 0 auto 12px;
	;
	background: url(../images/exclamation.svg) no-repeat center;
}

#termsModal {
	width: 960px;
}

dialog {
	max-width: 90vw;
	border: none;
	border-radius: 12px;
}

dialog::backdrop {
	background: rgba(0, 0, 0, .45);
}

.x_btn {
	cursor: pointer;
	font-size: 30px;
	font-weight: 600;
	background: none;
	border: none;
	
}

.modal-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px;
	border-bottom: 1px solid #eee;
}

.modal-head > h1 {
	margin: 0;
}

.modal-body {
	max-height: 70vh;
	overflow: auto;
}

pre {
	white-space: pre-wrap;
	padding: 0 40px;
	font-family: 'Noto Sans KR', sans-serif;
	line-height: 1.6;
}