.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 40px 20px;
	font-family: "Noto Sans KR", sans-serif;
	color: #222;
}

.breadcrumb {
	position: fixed;
	top: 0;       /* 상단 */
	right: 300px;  /* 오른쪽 여백 */
	padding: 5px 10px; 
}

.container h1 {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
}


/* 제목 + 날짜 섹션 */
.notice-title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

/* 날짜 스타일 (우측) */
.notice-date {
    font-size: 14px;
    color: #888;
}


/* 내용 전체 박스 */
.notice-content {
    background-color: #f5fbfe;
    padding: 30px 20px;
    font-size: 16px;
    line-height: 1.8;
    white-space: pre-wrap;
    border-radius: 4px;
    margin-bottom: 40px;
}

/* 목록 버튼 */
.back-button {
    display: block;
    width: 150px;
    margin: 0 auto;
    padding: 12px 0;
    background-color: #2e7bd1;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #1e64b3;
}
