:root {
	--border-color: #EAEBED;
	--gray-text: #757679;
	--content-box-padding: 38px;
}

.main-wrapper {
	text-align: center;
}

.content-wrapper {
	border: 1px solid var(--border-color);
	border-radius: 8px;
	margin: 70px 0;
}

.agree-all {
	display: flex;
	justify-content: space-between;
	padding: var(--content-box-padding);
	border-bottom: 1px solid var(--border-color);
}
	.agree-all__text {
		font-size: 20px;
		font-weight: 500;
	}
	
.content-box {
	text-align: left;
	padding: var(--content-box-padding);
}
	.content-box__title {
		font-size: 18px;
		font-weight: 600;
	}
	
	.content-box__main {
		border: 1px solid var(--border-color);
		border-radius: 8px;
		margin: 20px 0;
	}
	.content-box__main__image {
		border-bottom: 1px solid var(--border-color);
		text-align: center;
		padding: var(--content-box-padding) 0;
		color: var(--gray-text);
		font-size: 15px;
	}
	
	.agree-line {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
	}
	.agree-line label {margin-left: 18px;}
	.agree-line label input {margin-right: 12px;}
	
	
	
		.agree2__detail{
			background-color: #F3F4F8;
			padding: 20px;
			margin: 20px 0;
			border-radius: 10px;
		}
		.agree2__detail label {margin-right: 30px;}
		.agree2__detail label input[type="checkbox"] {
			margin-right: 10px;
		}
		
		
		
		