<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout.html}">
<head>
	<meta charset="UTF-8" />
	<title>전자금융거래 유의사항</title>
	<link rel="stylesheet" th:href="@{/terms/css/PU010401_002.css}">
	<script th:src="@{/terms/js/PU010401_002.js}"></script>
</head>
<body>
<main layout:fragment="content">
	<div class="container">
		<div class="breadcrumb">홈 > 곡객센터 > 개인정보보호 > 전자금융거래 유의사항</div>
		<h1>전자금융거래 유의사항을<br>안내해 드려요</h1>
		<div class="tab-menu">
			<button class="tab-btn active" data-tab="tab1">전자금융거래 안내</button>
			<button class="tab-btn" data-tab="tab2">이용자 유의사항</button>
		</div>
		
		<div class="tab-content" id="tab1">
			<h2>1. 비밀번호 유출 위험 및 관리에 관한 사항</h2>
			<ul>
				<li>전자금융거래에 필요한 정보는 휴대폰 등 타인에게 쉽게 노출될 수 있는 매체에 기록하지 않고, 타인(가족 포함)에게 알려주지 않습니다.</li>
				<li>인증서 등의 각종 비밀번호는 서로 다르게 설정하고 주기적으로 변경합니다.</li>
				<li>PC방 등 공용장소에서는 인터넷을 이용한 금융거래를 자제합니다.</li>
				<li>자리를 비우거나 프로그램 이용 종료 후에는 반드시 로그아웃하여 타인에게 정보가 유출되지 않도록 주의합니다.</li>
			</ul>
			
			
			<h2>2. 이용자 보호제도에 관한 사항</h2>
			<ul>
				<li>금융거래 시, 삼성화재가 제공하는 보안프로그램을 반드시 설치하시기 바랍니다.</li>
				<li>보험가입이나 보험계약 내용을 변경한 후에 보험료를 납입하였을 경우에는 반드시 거래내역을 확인하시기 바랍니다.</li>
				<li>비정상적인 거래여부를 확인하기 위해 보험계약, 보험금 지급내역 및 대출거래내역, 은행계좌 등을 정기적으로 확인하시기 바랍니다.</li>
				<li>삼성화재는 중요 전자금융거래 내역을 알림 서비스를 통해 제공하고 있습니다.</li>
				<li>삼성화재는 전자금융거래약관에 따라 고객님과의 전자금융거래를 보호하고 있고, 이용자의 피해를 보상하기 위한 전자금융거래배상책임보험에 가입되어 있습니다.</li>
			</ul>
			
			
			<h2>3. 해킹·피싱 등 전자적 침해 방지에 관한 사항</h2>
			<ul>
				<li>안전한 금융거래를 위해서 바이러스 백신, 스파이웨어 제거 프로그램을 항상 이용하고 최신 보안패치를 적용합니다.</li>
				<li>의심되는 이메일이나 게시판의 글을 열어보지 말고 첨부파일은 열람·저장하기 전에 백신으로 검사합니다.</li>
				<li>문자(SMS), 모바일메신저를 통해 신분증 등 금융거래에 필요한 정보를 요청 받더라도 타인(가족 포함)에게 알려주지 않습니다.</li>
				<li>인증서는 하드 디스크에 저장하지 않고, USB 등 이동식 저장장치에 보관합니다.</li>
				<li>휴대폰 도용을 통한 금융사기 피해 방지를 위해 본인이 신청하지 않은 휴대폰 개통 안내 문자(SMS)를 받은 경우, 반드시 해당 통신사에 확인하셔야 합니다.</li>
			</ul>
						
		</div>
		
		<div class="tab-content" id="tab2" style="display:none">
			<ul>
				<li>제3자가 쉽게 추측할 수 있는 비밀번호를 사용하지 말 것</li>
					<ul>
						<li>예) 주민등록번호, 생일날짜, 전화번호, 차량번호, 연속숫자 등</li>
					</ul>				
				<li>전자금융거래 비밀번호와 계좌비밀번호를 반드시 다르게 사용할 것</li>
				<li>비밀번호를 정기적으로 변경하고, 특히 비밀번호가 노출되었다고 의심되는 경우 빠른 시간 내에 금융회사 앞 통보 및 변경 조치할 것</li>
					<ul>
						<li>예) 전자금융거래를 담당하던 종업원이 퇴직한 경우 비밀번호 등을 변경할 것</li>
					</ul>				
				<li>인증서를 하드 디스크에 저장하지 말 것</li>
					<ul>
						<li>예) IC카드, USB 저장장치 등에 저장</li>
					</ul>				
				<li>전자금융거래에 필요한 정보를 수첩, 지갑 등에 기록하지 말 것</li>
				<li>전자금융거래를 절대로 타인에게 위탁하거나 관련 정보를 알려 주지 말 것</li>
					<ul>
						<li>예1) 현금인출 또는 자금이체를 친구 및 동료에게 부탁하지 말 것</li>
						<li>예2) 사적 금전차입시 전자금융거래 정보를 타인에게 알려 주지 말 것</li>
					</ul>				
				<li>전자금융거래 이용내역을 본인에게 즉시 알려주는 서비스를 적극 이용할 것</li>
					<ul>
						<li>예) 전자금융거래 내역을 본인의 핸드폰 등으로 즉시 확인할 수 있는 휴대폰 문자 메시지 서비스(SMS) 등을 적극 이용할 것</li>
					</ul>				
				<li>PC방 등 개방된 컴퓨터는 가급적 사용을 자제하고, 사용한 경우에는 관련 정보를 삭제할 것</li>
				<li>전자금융거래의 1회 이체한도 및 일일이체한도를 적절히 설정할 것</li>
				<li>인터넷 금융거래에 이용되는 PC에 백신 프로그램을 설치하여 실행함으로써 해킹 등의 보안침해사고에 대비할 것</li>				
			</ul>
			
		</div>		
	</div>	
</main>
</body>
</html>