<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8" />
	<title>다이렉트 회원가입약관</title>
	<link rel="stylesheet" th:href="@{/css/PU010401_011.css}">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!-- 그 다음에 내 js -->
	<script th:src="@{/js/PU010401_000.js}"></script>
</head>
<body>
	<div class="container">
		<div class="breadcrumb">홈 > 이용안내 > 홈페이지이용약관 > 다이렉트 회원가입약관</div>
		<h1>회원가입 약관</h1>
		<div class="terms-header">
		  <label for="terms-effective-date">시행일자</label>
		  <select id="terms-effective-date" name="terms-effective-date">
		    <option value="m2022-10-01">2022-10-01</option>
		    <option value="m2021-10-01">2021-10-01</option>
		    <option value="m2020-10-01">2020-10-01</option>
		    <option value="m2019-10-01">2019-10-01</option>
		    <option value="m2018-10-01">2018-10-01</option>
		    <option value="m2017-10-01">2017-10-01</option>
		  </select>
		</div>
				
		<div id="termsContent">
		<!-- 초기 약관 내용 -->
		</div>
		
		
		
	</div>
	
	
	
	
	
</body>
</html>