<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout.html}">
<head>
	<meta charset="UTF-8" />
	<title>전자금융거래 회원가입약관</title>
		
	<link rel="stylesheet" th:href="@{/terms/css/PU010401_011.css}">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!-- 그 다음에 내 js -->
	<script th:src="@{/terms/js/PU010401_000.js}"></script>
</head>
<body>
<main layout:fragment="content">	
	<div class="container">
		<div class="breadcrumb">홈 > 이용안내 > 홈페이지이용약관 > 전자금융거래 회원가입약관</div>
		<h1>회원가입 약관</h1>	
		
		<div class="select-container">
			<div class="custom-select-wrapper" tabindex="0" id="customSelect">
			  <span class="selected-value">2019.07.05</span>
			  <ul class="options-list hidden">
			    <li data-value="em2019-07-05">2019.07.05</li>
			    <li data-value="em2016-04-26">2016.04.26</li>
			    <li data-value="em2011-11-29">2011.11.29</li>
			    <li data-value="em2010-09-24">2010.09.24</li>
			    <li data-value="em2010-03-11">2010.03.11</li>
			  </ul>
			</div>
		</div>
				
		<div id="termsContent">
		<!-- 초기 약관 내용 -->
		</div>		
	</div>
</main>	
	
	
	
	
</body>
</html>