<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kd.insuranceweb.mypage.mapper.MyContractMapper">
    <select id="selectAllContracts" parameterType="Integer" resultType="com.kd.insuranceweb.mypage.dto.ContractDto">
        SELECT 
            contract_id,
            product_name,
            customer_name,
            insured_name,
            start_date,
            end_date,
            total_premium,
            status
        FROM contract_view
        WHERE 
		    customer_id = #{customer_id}
		    AND ((start_date IS NULL OR start_date >= ADD_MONTHS(SYSDATE, -36))
		         OR status = 'ACTIVE')

        ORDER BY start_date DESC
    </select>
    
    <select id="selectActiveContracts" resultType="com.kd.insuranceweb.mypage.dto.ContractDto">
        SELECT 
            contract_id,
            product_name,
            customer_name,
            insured_name,
            start_date,
            end_date,
            total_premium,
            status
        FROM contract_view
        WHERE  status = 'ACTIVE' 
        ORDER BY start_date DESC
    </select>
</mapper>