<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout.html}">
<head>
	<meta charset="UTF-8" />
	<title>보험 홈</title>	
</head>
<body>
	<main layout:fragment="content">
		<h1>보험 홈입니다.</h1>
		<p th:if="${person_name != null}">
		    환영합니다, <span th:text="${person_name}">사용자</span>님!
		</p>
		<p th:unless="${person_name != null}">
		    로그인 해주세요.
			<br>
			<a th:href="@{/signup}">회원가입 링크</a>
						
			<!--/* 윤한식 : index.html  fragments 작성 중  */-->
			<hr>
			<div th:replace="~{main :: mainContent}"></div>			
		</p>		
	</main>	
</body>
</html>