<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
<div th:fragment="mainContent">
	<div class="main-section-1">
		<div class="main-title">
			<h1>무엇을<br>지켜드릴까요</h1>
		</div>
		<div class="main-banner">
			<h1>< ></h1>			
		</div>
		<div class="card-menu">
			<div>자동차</div> 
			<div>운전자</div>
			<div>실손</div>
			<div>자녀</div>
			<div>건강</div>
			<div>유병자</div>
			<div>치아</div>
			<div>화재</div>
			<div>재산</div>
			<div>여행/레저</div>
			<div>펫</div>
			<div>보장분석</div>
			<div>저축</div>			
		</div>		
		<div class="card-login">
			<div class="card-login-left">
				<h1>안녕하세요<br>로그인 해주세요</h1>
				<button>삼성화제 다이렉트 로그인</button>
				<button>회원가입</button>				
			</div>
			<div class="card-login-right">
				<div>이미지</div>
			</div>			
		</div>				
	</div>
	
	<div class="main-section-2">
		<a href="">
		<div>
			<p>AI 보장분석</p>		
			<h1>내 보험 한번에 진단받기</h1>
			<p>가입한 모든 보험을 한번에 진단하고 꼭 필요한 보험을 찾아들려요 ></p>
		</div>
		<div>
			<img src="common/images/bg_ms_banner.png" width="72px" height="72px">
		</div>			
		</a>	
	</div>
	
	<div class="main-section-3">
		<h1>삼성화재 다이렉트 보험 상품</h1>
		
		<div class="tab-menu">
			<div>자동차</div>
			<div>운전자</div>
			<div>실손</div>
			<div>자녀</div>
			<div>건강</div>
			<div>유병자</div>
			<div>치아</div>
			<div>화재</div>
			<div>예산</div>
			<div>재산</div>
			<div>여행/레저</div>
			<div>펫</div>
			<div>보장분석</div>
			<div>저축</div>			
		</div>
		
		<div class="tab-menu1">
			<div class="title-banner">
				<p>자동차</p>
				<h1>다이렉트 자동차보험 가입 1위</h1>
				<p>(14년~24년, 수입보험료 기준)</p>				
			</div>
			<div class="title-banner-img">
				<img src="common/images/img_mv_car.png" width="128px" height="128px">
			</div>			
		</div>
		<div class="tab-cards">
			<a href="">
			<div class="tab-card">
				<div class="card-desc">
					<h2>자동차보험(개인)</h2>
					<p>열에 아홉이 또 가인하는 이유<br>한 번만 경험해 봐도 알 수 있어요<br>*재가입률 92.4%(24년 기준)</p>
				</div>
				<div class="card-arrow">
					<p>></p>
				</div>			
			</div>
			</a>
			<a href="">
			<div class="tab-card">
				<div class="card-desc">
					<h2>자동차보험 갱신</h2>
					<p>기본 가입자라면<br>본인인증 한 번으로 가입까지 퀵하게</p>
				</div>
				<div class="card-arrow">
					<p>></p>
				</div>			
			</div>
			</a>
			<a href="">
			<div class="tab-card">
				<div class="card-desc">
					<h2>자동차보험(개인) + 운전자보험</h2>
					<p>다이렉트여서 저렴하고 간편하게 한번에 가입!<br>운전자보험 보장보험료 5% 할인<br>만19~79세 가입</p>
				</div>
				<div class="card-arrow">
					<p>></p>
				</div>			
			</div>
			</a>
			<a href="">
			<div class="tab-card">
				<div class="card-desc">
					<h2>자동차보험(법인)</h2>
					<p>다이렉트여서 저렴하고 간편하게 한번에 가입!<br>운전자보험 보장보험료 5% 할인<br>만19~79세 가입</p>
				</div>
				<div class="card-arrow">
					<p>></p>
				</div>			
			</div>
			</a>
			<a href="">
			<div class="tab-card">
				<div class="card-desc">
					<h2>이륜차보험</h2>
					<p>출퇴근,레저,배달용 오토바이까지<br>걱정은 덜고 자신있게 달리세요</p>
				</div>
				<div class="card-arrow">
					<p>></p>
				</div>			
			</div>
			</a>
			<a href="">
			<div class="tab-card">
				<div class="card-desc">
					<h2>영업용 자동차보험</h2>
					<p>개인 화물차보험도<br>걱정은 덜고 자신있게 달리세요</p>
				</div>
				<div class="card-arrow">
					<p>></p>
				</div>			
			</div>
			</a>
			<a href="">
			<div class="tab-card">
				<div class="card-desc">
					<h2>원데이 자동차보험</h2>
					<p>친구 차 부터 렌터카, 카셰어링까지<br>남의 차도 당당하게 운전하세요</p>
				</div>
				<div class="card-arrow">
					<p>></p>
				</div>			
			</div>
			</a>			
			<a href="">
			<div class="tab-card">
				<div class="card-desc">
					<h2>자동차 고장수리보장보험</h2>
					<p>무상보증기간이 끝난 자동차가 가입하는<br>고장수리비 보장보험</p>
				</div>
				<div class="card-arrow">
					<p>></p>
				</div>			
			</div>
			</a>
			<a href="">
			<div class="tab-card">
				<div class="card-desc">
					<h2>자동차보험 계약변경</h2>
					<p>임시운전자특약 가입, 블랙박스 추가 등<br>계약 변경도 내가 직접 간편하게</p>
				</div>
				<div class="card-arrow">
					<p>></p>
				</div>			
			</div>
			</a>
			<hr>
			<a href="">
			<div class="tab-card">
				<div class="card-desc">					
					<h2><img src="common/images/ico-call.png" width="26px" height="26px"> 자동차보험(개인·법인)</h2>
					<p>다이렉트 자동차보험<br>전화로 간편하게 가입하세요<br>가입상담 1600-5008</p>
				</div>
				<div class="card-arrow">
					<p>></p>
				</div>			
			</div>
			</a>
			<a href="">
			<div class="tab-card">
				<div class="card-desc">
					<h2><img src="common/images/ico-call.png" width="26px" height="26px"> 자동차보험(개인·법인)</h2>
					<p>다이렉트 자동차보험<br>전화로 간편하게 가입하세요<br>가입상담 1600-5008</p>
				</div>
				<div class="card-arrow">
					<p>></p>
				</div>			
			</div>
			</a>			
		</div>
		
		<div class="tab-menu2">
			<div class="title-banner">
				<p>운전자</p>
				<h1>운전자와 가족을 위한<br>안전 운전 파트너</h1>
				<p>(50만 가입: 24년2월 누적가입자수 기준)</p>				
			</div>
			<div class="title-banner-img">
				<img src="common/images/img_mv_driver.png" width="128px" height="128px">
			</div>			
		</div>
		<div class="tab-cards">
			<a href="">
			<div class="tab-card">
				<div class="card-desc">
					<h2>운전자보험</h2>
					<p>도로에선 나만 잘한다고 되나요<br>운전자보험으로 만약 대비!</p>
				</div>
				<div class="card-arrow">
					<p>></p>
				</div>			
			</div>
			</a>
			<a href="">
			<div class="tab-card">
				<div class="card-desc">
					<h2>오토바이 전용 운전자 보험</h2>
					<p>오토바이 위험한거 나도 알아.<br>보험으로 나는 내가 지켜</p>
				</div>
				<div class="card-arrow">
					<p>></p>
				</div>			
			</div>
			</a>
		</div>
		
		<div class="tab-menu3">
			<div class="title-banner">
				<p>실손</p>
				<h1>상해/질병 보험금 청구 시 3영업일 이내 지급률 98%(23년 기준)</h1>							
			</div>
			<div class="title-banner-img">
				<img src="common/images/img_mv_realloss.png" width="128px" height="128px">
			</div>			
		</div>
		
		<div class="tab-menu4">
			<div class="title-banner">
				<p>자녀</p>
				<h1>출산 전 산모와 태아부터<br>아이의 성장 과정을 함께</h1>							
			</div>
			<div class="title-banner-img">
				<img src="common/images/img_mv_kids.png" width="128px" height="128px">
			</div>			
		</div>
		
		<div class="tab-menu4">
			<div class="title-banner">
				<p>건강</p>
				<h1>상해와 질병에 필용한 보장,<br>최대 100세까지 든든하게</h1>							
			</div>
			<div class="title-banner-img">
				<img src="common/images/img_mv_health.png" width="128px" height="128px">
			</div>			
		</div>
		
		<div class="tab-menu5">
			<div class="title-banner">
				<p>유병자</p>
				<h1>간편심사 통과시 과거에 아팠거나<br>만성 질환이 있어도 간편 가입!</h1>
				<p>*간편심사의 경우에도 인수기준에 따라 가입이 거절될 수 있습니다</p>							
			</div>
			<div class="title-banner-img">
				<img src="common/images/img_mv_health_sick.png" width="128px" height="128px">
			</div>			
		</div>
		
		<div class="tab-menu6">
			<div class="title-banner">
				<p>치아</p>
				<h1>큰 돈 드는 치과 치료비<br>아프기 전에 준비 필수</h1>											
			</div>
			<div class="title-banner-img">
				<img src="common/images/img_mv_dental.png" width="128px" height="128px">
			</div>			
		</div>
		
		<div class="tab-menu7">
			<div class="title-banner">
				<p>화재</p>
				<h1>소중한 나의 집과 사업장<br>화재 손해 보장</h1>											
			</div>
			<div class="title-banner-img">
				<img src="common/images/img_mv_home.png" width="128px" height="128px">
			</div>			
		</div>
		
		<div class="tab-menu8">
			<div class="title-banner">
				<p>재산</p>
				<h1>나의 소중한 재산<br>다이렉트로 저렴하게 보장</h1>											
			</div>
			<div class="title-banner-img">
				<img src="common/images/img_mv_storm6.png" width="128px" height="128px">
			</div>			
		</div>
		
		<div class="tab-menu9">
			<div class="title-banner">
				<p>여행/레저</p>
				<h1>즐거운 취미 생활과<br>안전한 여행의 준비물</h1>											
			</div>
			<div class="title-banner-img">
				<img src="common/images/img_mv_travel.png" width="128px" height="128px">
			</div>			
		</div>
		<div class="tab-menu10">
			<div class="title-banner">
				<p>펫</p>
				<h1>아프기 전에 준비하는<br>우리집 막내를 위한 보험</h1>											
			</div>
			<div class="title-banner-img">
				<img src="common/images/img_mv_pet.png" width="128px" height="128px">
			</div>			
		</div>
		
		<div class="tab-menu11">
			<div class="title-banner">
				<p>보장분석</p>
				<h1>나의 보험 점수는 몇 점?<br>내 보험 한 눈에 점검</h1>											
			</div>
			<div class="title-banner-img">
				<img src="common/images/img_mv_consulting.png" width="128px" height="128px">
			</div>			
		</div>
		
		<div class="tab-menu12">
			<div class="title-banner">
				<p>저축</p>
				<h1>안정적인 노후를 위한<br>오늘의 투자</h1>											
			</div>
			<div class="title-banner-img">
				<img src="common/images/img_mv_save.png" width="128px" height="128px">
			</div>			
		</div>
		
		
		
	</div>	
</div>
	
	
	
</body>
</html>