<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>무이자 할부 | 혜택/서비스 - 삼성화재 다이렉트 착</title>
	<link rel="stylesheet" th:href="@{/club/css/club_common.css}">
	<link rel="stylesheet" href="./css/PP060701_001.css">

</head>

<body>
	<main layout:fragment="content">
    <div class="ui-tab-pnls">
        <section class="base-content">
            <div class="content-layout"> <!--content 부분-->

                <div class="content-title"> <!-- 제목 -->
                    <h1>
                        다이렉트의 다양한 이벤트를<br> 만나보세요
                    </h1>
                </div>

                <div id="tab-btns"> <!-- 버튼 -->
                    <button id="tab-btn1" class="tab-btn">
                        진행 중 이벤트
                    </button>
                    <button id="tab-btn2" class="tab-btn">
                        당첨자 확인
                    </button>
                    
                </div>

               

               

            </div>
        </section>
    </div>

    <script>
        const tabs = document.querySelectorAll(".content-main");
        const buttons = document.querySelectorAll(".tab-btn");

        function showTab(index) {
            XMLHttpRequest

            tabs.forEach((tab, i) => {
                if (i === index) {
                    tab.classList.remove("hidden"); // 보여주기
                } else {
                    tab.classList.add("hidden"); // 숨기기
                }
            });

            buttons.forEach((btn, i) => {
                if (i === index) {
                    btn.classList.add("active"); // 선택된 버튼 스타일
                } else {
                    btn.classList.remove("active");
                }
            });
        }

        // 버튼 클릭 이벤트 등록
        buttons.forEach((btn, i) => {
            btn.addEventListener("click", () => showTab(i));
        });

        // 처음 페이지 로드 시 첫 번째 탭 보여주기
        showTab(0);
    </script>
	</main>
</body>

</html>