<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - 내 보험 시스템">공통 타이틀</title>
	<link rel="stylesheet" th:href="@{/common/css/headerbar.css}" />
	<link rel="stylesheet" th:href="@{/common/css/sidebar.css}" />
	<link rel="stylesheet" th:href="@{/mall/css/main.css}" />
	<script src="https://kit.fontawesome.com/df2bfc0a98.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- 헤더 -->
    <header th:replace="~{common/fragments/header :: headerFragment}"></header>

    <!-- 사이드바 -->
    <aside th:replace="~{common/fragments/sidebar :: sidebarFragment}"></aside>

    <!-- 본문 -->
    <main layout:fragment="content" th:replace="~{/mall/insurance-view::.main-container}">
        <!-- 개별 콘텐츠 삽입될 자리 -->
    </main>

    <!-- 푸터 -->
    <footer th:replace="~{common/fragments/footer :: footerFragment}"></footer>
	
	<script th:src="@{/common/js/headerbar.js}"></script>
	<script th:src="@{/common/js/sidebar.js}"></script>
</body>
</html>
