<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/mall/layout/layout_mall.html}">
<head>
	<meta charset="UTF-8" />
	<title>청약내용 확인</title>
	<style>
		.notice_wrapper {
			text-align: center;
		}
	</style>
</head>
<body>
<main layout:fragment="content">
	<div class="notice_wrapper">
		<h1>청약내용을 확인해 주세요</h1>
		
		<h3 class="custom-table-title">계약정보</h3>
		<table class="custom-table">
			<tr><th>피보험자/계약자</th>
				<td>고객명/고객명</td>
			</tr>
			<tr><th>상품명</th>
				<td>상품명</td>
			</tr>
			<tr><th>납입주기/보험료</th>
				<td>월납/1,000원</td>
			</tr>
			<tr><th>예상만기 환급률/환급금</th>
				<td>0%/0원</td>
			</tr>
		</table>
		
		<h3 class="custom-table-title">보장내용</h3>
	</div>
</main>
</body>
</html>