<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mall/layout/layout_mall.html}">
<head>
	<meta charset="UTF-8" />
	<title>결제정보 입력</title>
	<style>
		.payment_wrapper {text-align: center;}
		.next-btn:disabled {cursor: not-allowed;}
	</style>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
</head>
<body>
<main layout:fragment="content"	
		  th:data-product-name="${productName}"
	      th:data-customer-name="${customerName}"
	      th:data-premium="${premium}">
		  
	<div class="payment_wrapper">
		<h1>보험료 <span th:text="|${#numbers.formatInteger(premium,0,'COMMA')} 원|">0원</span>에 대한<br> 결제를 진행합니다</h1>
		
		<button onclick="requestPay()">보험료 결제하기 테스트버튼</button>
		<button onclick="activateNextBtn()">결제완료</button>
		
		<form id="cardForm" th:action="@{/mall2/payment}" method="POST">		
	

		
		<div class="button-wrap">
			<button type="button" class="prev-btn" onclick="location.href=`${contextPath}mall2/notice`">이전</button>
			<button type="submit" class="next-btn" disabled>계약 완료하기</button>
		</div>
	</form>	
	
	</div>
	
	<script src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
	<script th:src="@{/mall/js/payment_form.js}"></script>
</main>
</body>
</html>