<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>영업용 자동차보험(인터넷가입)</title>
  <link rel="stylesheet" th:href="@{/mall/css/commonPage.css}" />
  <link rel="stylesheet" th:href="@{/mall/css/custom-button.css}" />
  <link rel="stylesheet" th:href="@{/mall/css/table.css}" />
  <script th:src="@{/mall/js/jquery-3.7.1.min.js}"></script>
</head>

<body>
	<main layout:fragment="content" style="width: 100%; margin: 137px auto 0;">
		검색된 상품이 없습니다
		<a th:href="@{/mall/ria/car/1}">계산 페이지로 돌아가기</a>
	</main>
</body>