<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kd.insuranceweb.common.mapper.EmployeeMapper">

    <!-- 
      1. 직원 기본 정보 조회 쿼리
    -->
	<select id="findByLoginId" parameterType="string" resultType="com.kd.insuranceweb.common.dto.EmployeeDto">
	    SELECT 
	           emp_id,
	           emp_name,
	           username,
	           password
	    FROM employees
	    WHERE username = #{username} AND is_active = 'Y'
	</select>
    
    <!-- 
      2. 직원의 ID로 권한 목록을 조회하는 쿼리
    -->
	<resultMap id="roleResultMap" type="java.lang.String">
	    <result column="role_name" property="role_name" javaType="java.lang.String" />
	</resultMap>
	<resultMap id="roleKorResultMap" type="java.lang.String">
	    <result column="role_desc" property="role_desc" javaType="java.lang.String" />
	</resultMap>
	
	<select id="findRolesByEmpId" parameterType="Integer" resultMap="roleResultMap">
	    SELECT r.role_name
	    FROM roles r
	    JOIN employee_role er ON r.role_id = er.role_id
	    WHERE er.emp_id = #{emp_id}
	</select>
	
	<select id="findRolesKorNameByEmpId" parameterType="Integer" resultMap="roleKorResultMap">
	    SELECT r.role_desc
	    FROM roles r
	    JOIN employee_role er ON r.role_id = er.role_id
	    WHERE er.emp_id = #{emp_id}
	</select>
    
</mapper>

