<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/common/layout.html}">
<head>
	<meta charset="UTF-8" />
	<title>이벤트 | 혜택/서비스 - 삼성화재 다이렉트 착</title>
	<link rel="stylesheet" th:href="@{/club/css/club_common.css}">
</head>
<body>
	<section>
	<main layout:fragment="content">
		<div class="event_wrap">
			<div class="evt_visual">
				<h2>
					<img src="" alt>
				</h2>
			</div>
			<div class="evt_area_wrap"></div>
			<div class="info_area"></div>
			<div class="noti_area"></div>
			<div class="dim"></div> <!-- 이건 뭘까-->
			
		</div>
		<div class="btn-wrap single"></div>
		</section>
	</main>
</body>
</html>